
        .p1 {
            color: gray;
        }

        .p2 {
            color: blue;
        }
        h1{
            background-color: blue;
        }
        body{
        background-color:azure;
        }
        #p1{
            text-align: center;
        }
