@{
    ViewData["Title"] = "Employee";
}
<h3>Employee Entry</h3>
@{
    var info = ViewData["Info"];
}
@if (info != null)
{
    if (Convert.ToBoolean(ViewData["Status"]))
    {
        <div class="alert alert-success" role="alert">
            @info
        </div>
    }
    else
    {
        <div class="alert alert-danger" role="alert">
            @info
        </div>
    }
}
<form action="/employee/entry" method="post">
    <div class="mb-3">
        <label class="form-label">Code:</label>
        <input type="text" class="form-control" name="Code" required placeholder="type code">
    </div>
    <div class="mb-3">
        <label class="form-label">Name:</label>
        <input type="text" class="form-control" name="Name" required placeholder="type name">
    </div>
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" name="Email" required placeholder="type email">
    </div>
    <div class="mb-3">
        <label class="form-label">Gender</label><br />
        Female <input type="radio" class="form-check-input" name="Gender" required value="f">
        Male <input type="radio" class="form-check-input"  name="Gender" required value="m">
    </div>
    <div class="mb-3">
        <label class="form-label">Position</label>
        <select class="form-select" name="PositionId">
            <option selected>Select Position</option>
            @foreach (var position in ViewBag.Positions)
            {
                <option value="@position.Id">@position.Code</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Department</label>
        <select class="form-select" name="DepartmentId">
            <option selected>Select Department</option>
            @foreach (var department in ViewBag.Departments)
            {
                <option value="@department.Id">@department.Code</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">DOB</label>
        <input type="date" class="form-control" name="DOB" required>
    </div>
    <div class="mb-3">
        <label class="form-label">DOE</label>
        <input type="date" class="form-control" name="DOE" required>
    </div>
    <div class="mb-3">
        <label class="form-label">DOR</label>
        <input type="date" class="form-control" name="DOR">
    </div>
    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input type="tel" class="form-control" name="Phone" required placeholder="type phone">
    </div>
    <div class="mb-3">
        <label class="form-label">Basic Salary</label>
        <input type="number" class="form-control" name="BasicSalary" required placeholder="type basic salary">
    </div>
    <div class="mb-3">
        <label class="form-label">Address</label>
        <textarea class="form-control" placeholder="type address.." name="Address"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Entry</button>
    <a href="/employee/list" class="btn btn-outline-primary">List</a>
</form>