<div>
    <form action="/currencyConvertor/ConvertorV1" method="post">
        <h1>
            Currency Convertor V1
        </h1>
        <table>
            <tr>
                <td>
                    <label>Choose Currency:</label>
                </td>
                <td>
                    <select name="selectedCurrency">
                        <option value="usd">US Dollor</option>
                        <option value="sdg">Sinpare Dollor</option>
                        <option value="baht">Thai Baht</option>
                    </select>
                </td>
            </tr>
            <tr>
            <td>
                <label>Amount:</label>
            </td>
            <td> <input type="text" name="amount"></td>
        </tr>
        <tr>
            <td>
                <label>Result(MMK)</label>
            </td>
            <td>
                <input type="text" value="@ViewData["result"]" readonly>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Convert"></td>
        </tr>
        </table>
    </form>
</div>