<head>
    <style>
        body{
        background-color: yellow;
        }
    </style>
</head>
<body>
<h1>Hello</h1>
<p>Hello,this is p tag.</p>
<a href="/example/fullname">Who am I?</a>
<a href="/example/sum">go to sum</a>
<a href="/home/index">Home</a>
<a href="/register/entry">entry form</a>
</body>
